h2 {
    text-align: center;
    color: rgb(9, 63, 80);
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    color: rgb(73, 126, 143);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    text-align: center;
    color: rgb(134, 0, 40);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

form {text-align: center;}
